html,
body,
.main-container {
  width: 100%;
  height: 100%;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-item {
  display: flex;
  margin-top: 20px;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

.label {
  margin: 0;
}

.input-element {
  width: 300px;
  margin-left: 10px;
  box-sizing: border-box;
  height: 30px;
  border-radius: 4px;
  align-items: center;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 200px;
  margin-top: 40px;
  cursor: pointer;
}

